[Unit]
Description=CatShare docker-compose
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "docker compose -f /home/catshare/catshare/docker-compose.yml up --detach"
ExecStop=/bin/bash -c "docker compose -f /home/catshare/catshare/docker-compose.yml stop"

[Install]
WantedBy=multi-user.target
